@namespace KindleNotes.Components

<div class="clipping-row">
    <div>ID: @Content.Id</div>
    <div>Type: @Content.Type</div>
    <div>Title: @Content.Title</div>
    <div>Location: @Content.Location</div>
    <div>Content: @Content.Content</div>
</div>

@code {
    [Parameter]
    public KindleContentViewModel Content { get; set; }
}
