@page "/"

<h1>Kindle Notes and Highlights</h1>

<EditForm Model="@kindleClippingsFile" OnSubmit="@Submit">
    <InputFile OnChange="@SetFile" @attributes="@supportedFileTypesAttribute" />
    <input type="submit" class="btn btn-primary" value="Load" />
</EditForm>

<h3>File Content</h3>
@if (kindleClippingsFile.FileHasBeenParsed)
{
    <div>
        @foreach (var clipping in kindleClippingsFile.rawClippings)
        {
            <h4>Clipping Entry with @clipping.Lines.Count lines</h4>
            @foreach (var line in clipping.Lines)
            {
                <div>@line</div>
            }
        }
    </div>
}
else
{
    <div>No content yet!</div>
}