@using KindleNotes.Models;

@page "/"

<h1>Kindle Notes and Highlights</h1>

<EditForm Model="@kindleClippingsFile" OnSubmit="@Submit">
    <InputFile OnChange="@SetFile" @attributes="@supportedFileTypesAttribute" />
    <input type="submit" class="btn btn-primary" value="Load" />
</EditForm>

<h3>File Content</h3>

@if (kindleClippingsFile.PageStatus == PageStatus.InitialState)
{
    <div>No content has been loaded.</div>
}
else if (kindleClippingsFile.PageStatus == PageStatus.Loading)
{
    <div>Loading...</div>
}
else if (kindleClippingsFile.PageStatus == PageStatus.Error)
{
    <div>@kindleClippingsFile.ErrorMessage</div>
}
else
{
    <div>
        @foreach (var clipping in kindleClippingsFile.rawClippings)
        {
            <h4>Clipping of type @clipping.Type</h4>
            @foreach (var line in clipping.Lines)
            {
                <div>@line</div>
            }
        }
    </div>
}